html{
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ea714f;
}

@import "blocks/header.scss";
@import "blocks/vertical-line.scss";
@import "blocks/hero.scss";
@import "blocks/product.scss";
@import "blocks/graph.scss";
@import "blocks/shopping-bag.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss";
@import "blocks/social-media.scss";
@import "blocks/site-button.scss";
@import "blocks/content.scss";

//1167--map{max-height: 385px;}
