//header block begins//
@import "variables.scss";

.header {
  position: relative;
  background-color: #f6f6f6;
  box-shadow: $shadow;
  padding: 1% 0;
  width: 90%;
  margin: 5% auto 0;
  vertical-align: middle;

  &__wrapper {
    vertical-align: middle;
    padding-left: 2.7%;
    }

  &__title {
    font-size: 16px;
    font-weight: bold;
    font-family: $fontStack;
    display: inline-block;
    vertical-align: middle;
  }

  &__nav {
    display: inline-block;
    vertical-align: middle;
  }

  &-nav__item {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: $fontStack;
    margin: 0 30px;
    font-weight: 300;
  }
    .header-nav__item:hover {
      font-weight: bold;
      border-bottom: 3px solid #000;
      padding-bottom:10px;
    }

  &__search {
    display: inline-block;
    position: absolute;
    right: 40px;
  }

  &__search-icon,
  &__divider,
  &__search-input {
    display: inline-block;
    vertical-align: middle;
  }

  &__search-input {
    position: relative;
    border: none;
    font-weight: bold;
    font-size: 13px;
    font-family: $fontStack;
    font-weight: 300;
    background-color: #f6f6f6;
    height: 30px;
    &:focus {
      outline: none;
    }
  }
}

.search-divider {
  margin: 0 8px;
}

.nav-divider {
  margin: 0 0 0 35px;
}
// end of header block//

//spacing adjustment on nav//
@media screen and (max-width: 1155px){
  .header-nav__item {
    margin: 0px 20px;
  }
}

//landscape tablet//
@media screen and (max-width: 1075px){
  .header__search {
    position: relative;
    margin-left: 2.8%;
    right: 0;
  }
}
//end of landscape tablet//

//portrait tablet//
@media screen and (max-width: 1023px){
  .nav-divider {
    margin: 0 0 0 20px;
  }
  .header-nav__item {
    margin: 0px 10px;
  }
  .header__search {
    position: relative;
    margin-left: 1%;
    right: 0;
  }
  .header__search-input {
    width: 60px;
  }
}
//end of portrait tablet//

//mobile friendly//
  @media screen and (max-width: 767px) {
    .header__title {
      text-align: center;
      display: block;
    }
    .header__divider {
      display: none;
    }
    .header__wrapper{
      padding: 0;
      text-align: center;
    }
    .header__nav{
      margin: 0 auto 4%;
      text-align: center;
    }
    .header-nav__item {
      text-align: center;
      margin: 0 auto;
      width: 100%;
      padding: 2px;
    }
    .header__search {
      display: none;
    }
  }
//end of mobile//
