//second block- hero content//
@import "variables.scss";

.hero {
  background: #ffffff url("images/hero-image.png") no-repeat center center;
  background-size: cover;
  box-shadow: $shadow;
  width: 90%;
  margin: 3% auto 0;
  position: relative;
  padding-bottom: 1.3%;


  &__left-column {
    position: relative;
    width: 44%;
    text-align: left;
    padding-left: 4%;
    padding-top: 3%;
  }

  &__layban {
    padding-top: 2%;
  }

  &__title {
    font-weight: bold;
    font-size: 21px;
    font-family: $fontStack;
    padding-top: 5%;
  }

  &__description {
    font-size: 14px;
    font-family: $fontStack;
    line-height: 28px;
    margin-bottom: 6% 0;
  }

  &__button {
    margin:6% 0;
    display: inline-block;
    transition: background, .7s, ease-in-out;
    -webkit-transition: background, .7s, ease-in-out;
    -moz-transition: background, .7s, ease-in-out;
    -o-transition: background, .7s, ease-in-out;
  }

  &__logo {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  &__slogan {
    position: absolute;
    bottom: 0;
    right: 38px;
    font: bold 45px 'Microsoft YaHei UI', Arial, sans-serif;
    color: #fff;
    letter-spacing: -2px;
  }
}
