@import "variables.scss";

.map {
  background: #f5f5f5;
  width: 28%;
  margin: 3% -2% 0;
  display: inline-block;
  vertical-align: top;

  &__title {
    font-size: 21px;
    font-weight: bold;
    font-family: $fontStack;
    margin: 0 auto;
    margin: 2% 5%;
  }

  &__location {
    font-size: 14px;
    font-family: $fontStack;
    margin: 2% 5% 2.6%;
  }
}
