@import 'variables.scss';

.product {
  background: #f5f5f5;
  width: 28%;
  margin: 3% 5% 0;
  display: inline-block;
  vertical-align: top;

  &__image {
    width: 100%;
  }

  &__information{
    padding-left: 7%;
    position: relative;
  }

  &__title {
    font-weight: normal;
    font-size: 21px;
    font-family: $fontStack;
    margin: 4% 0 1%;
  }

  &__description {
    font-size: 12px;
    font-family: $fontStack;
    margin: 3.5% 0;
  }

  &__size {
    font-weight:bold;
    font-size: 12px;
    font-family: $fontStack;
  }

  &__change-size {
    font-size: 10px;
    font-family: $fontStack;
    text-decoration: none;
    color: #65a0b8;
  }

  
  &__price {
    font-weight: bold;
    font-size: 28px;
    font-family: $fontStack;
    padding: 0 0 4%;
    margin: 6% 0 1%;
  }

  &__button {
    position: absolute;
    bottom: 20px;
    right:28px;
    -webkit-transition: background, .7s, ease-in-out;
    -moz-transition: background, .7s, ease-in-out;
    -o-transition: background, .7s, ease-in-out;
    transition: background, .7s, ease-in-out;
  }
}

.site-button--product {
  border: 1px solid #7ab6ce;
  background: #87ddff;
   background-image: -webkit-linear-gradient(top, #87ddff, #74b3cc);
   background-image: -moz-linear-gradient(top, #87ddff, #74b3cc);
   background-image: -ms-linear-gradient(top, #87ddff, #74b3cc);
   background-image: -o-linear-gradient(top, #87ddff, #74b3cc);
   background-image: linear-gradient(to bottom, #87ddff, #74b3cc);
  width: 112px;
  height: 32px;
  font-size: 10px;
  padding:0;
  color: white;
}

.product__button:hover {
    background: #87ddff;
}
