@import 'variables.scss';

.product {
  background: #f5f5f5;
  box-shadow: $shadow;
  width: 28%;
  margin: 3% 5% 0;
  display: inline-block;
  vertical-align: top;

  &__image {
    width: 100%;
  }

  &__information{
    padding-left: 7%;
    position: relative;
  }

  &__title {
    font-weight: normal;
    font-size: 21px;
    font-family: $fontStack;
    margin: 4% 0 1%;
  }

  &__description {
    font-size: 12px;
    font-family: $fontStack;
    margin: 3.5% 0;
  }

  &__size {
    font-weight:bold;
    font-size: 12px;
    font-family: $fontStack;
  }

  &__change-size {
    font-size: 10px;
    font-family: $fontStack;
    text-decoration: none;
    color: #65a0b8;
    &:hover {
      color: #196a8b;
    }
  }


  &__price {
    font-weight: bold;
    font-size: 28px;
    font-family: $fontStack;
    padding: 0 0 4%;
    margin: 6% 0 1%;
  }

  &__button {
    position: absolute;
    bottom: 16px;
    right: 31px;
    -webkit-transition: background, .7s, ease-in-out;
    -moz-transition: background, .7s, ease-in-out;
    -o-transition: background, .7s, ease-in-out;
    transition: background, .7s, ease-in-out;
  }
}
