//5th block - shopping-bag content//
@import "variables.scss";
//uses site-button.scss//

.shopping-bag{
  width: 59%;
  margin: 3% 5% 0;
  display: inline-block;
  background: #fdfdfd;
  vertical-align: middle;
  position: relative;
  box-shadow: $shadow;

  &__title {
    font-size: 21px;
    font-weight: bold;
    font-family: $fontStack;
    margin: 3% 3.8% 2.5%;
  }

  &__product {
    margin-left: 3.8%;
    position: relative;
  }

  &__image {
    display: inline-block;
    vertical-align: middle;
  }

  &__description {
    font-size: 16px;
    font-weight: bold;
    font-family: $fontStack;
    display: inline-block;
    margin:0 auto;
    vertical-align: middle;
  }

  &__remove {
    font-size: 10px;
    font-weight: bold;
    font-family: $fontStack;
    text-decoration: none;
    color: #65a0b8;
    display: inline-block;
    margin:0 auto;
    vertical-align: text-bottom;
    text-decoration: none;
    &:hover {
      color: #196a8b;
    }
  }

  &__quanity{
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    padding: 7px 12px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 15.7%;
    font-size: 14px;
    font-family: $fontStack;
  }

  &__price {
    font-size: 21px;
    font-weight: bold;
    font-family: $fontStack;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    bottom: 14.5%;
    right: 3.76%;
  }

  &__divider {
    margin: 2% auto;
  }

  &__total {
    font-size: 24px;
    font-weight: bold;
    font-family: $fontStack;
    display: inline-block;
    vertical-align: middle;
    margin: 2.8% 3.8%;
  }

  &__button {
    display: inline-block;
    position: absolute;
    bottom: 4.5%;
    right: 3.76%;
    -webkit-transition: background, .7s, ease-in-out;
    -moz-transition: background, .7s, ease-in-out;
    -o-transition: background, .7s, ease-in-out;
    transition: background, .7s, ease-in-out;
  }
}

.horizontal-line {
  border-bottom: 1px solid #b5b5b5;
  width: 93%;
}

//landscape tablet//
@media screen and (max-width: 1075px){
  .shopping-bag {
    width: 90%;
    display: block;
  }
  .shopping-bag__title {
    padding-top: 2%;
  }
}
//end of tablet landscape//


//portrait tablet//
@media screen and (max-width: 1023px){
  .shopping-bag {
    width: 90%;
    display: block;
  }
  .shopping-bag__title {
    padding-top: 2%;
  }
}
//end of tablet portrait//

//mobile friendly//
@media screen and (max-width: 767px){
  .shopping-bag{
    width: 90%;
    text-align: center;
    margin: 5% auto 0;
    display: block;
  }
  .shopping-bag__title {
    font-size: 23px;
    margin: 5% 3.8% 4.5%;
    text-align: center;
  }
  .shopping-bag__product {
    margin: 0 auto;
    text-align: center;
  }
  .shopping-bag__image {
    width: 40%;
  }
  .shopping-bag__description {
    padding: 3%;
    display: block;
  }
  .shopping-bag__remove {
    display: block;
    text-align: center;
  }
  .shopping-bag__quanity {
    position: relative;
    right: 0;
  }
  .shopping-bag__price {
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    right: 0;
  }
  .shopping-bag__divider{
    margin: 7% auto;
  }
  .shopping-bag__total {
    display: block;
    text-align: center;
  }
  .shopping-bag__button {
    position: relative;;
    margin: 0 auto 4%;
    text-align: center;
    right: 0;
  }
}
//end of mobile//
